# Practise Session 1

### Learnt about

- Creating database 
- Creating table and insert values
- Altering table by adding colounm
- Constrains and their functions
- primary and forign keys

Credit 

- SQL Tutorial by intellipaat
- https://www.youtube.com/watch?v=2ELmLBQQ3SI      (Duration  1:20   to   1:40)

In [29]:
CREATE DATABASE DataBase_1

In [30]:
USE DataBase_1

CREATE table emp
  (  emp_no      NUMERIC(4),
     emp_name    VARCHAR (20),
     Gender      VARCHAR(10),
     desg        VARCHAR(40),
  )

In [31]:
sp_help emp ---Discribe a Table Emp---

Name,Owner,Type,Created_datetime
emp,dbo,user table,2022-12-08 19:46:50.193

Column_name,Type,Computed,Length,Prec,Scale,Nullable,TrimTrailingBlanks,FixedLenNullInSource,Collation
emp_no,numeric,no,5,4,0,yes,(n/a),(n/a),NULL
emp_name,varchar,no,20,,,yes,no,yes,SQL_Latin1_General_CP1_CI_AS
Gender,varchar,no,10,,,yes,no,yes,SQL_Latin1_General_CP1_CI_AS
desg,varchar,no,40,,,yes,no,yes,SQL_Latin1_General_CP1_CI_AS

Identity,Seed,Increment,Not For Replication
No identity column defined.,NULL,NULL,NULL

RowGuidCol
No rowguidcol column defined.

Data_located_on_filegroup
PRIMARY

In [32]:
---CHECKING THE GENERATED COLOUNMS--
SELECT  *  FROM  emp

In [33]:
--- PUTTING THE VALUES INTHE COLUNMS---

INSERT  INTO  emp  VALUES (1001, 'Sadiq', 'Male', 'Trainer')
INSERT  INTO  emp  VALUES (1002, 'Riya', 'Female', 'Manager')
INSERT  INTO  emp  VALUES (1003, 'Raj', 'Male', 'Accountant')
INSERT  INTO  emp  VALUES (1004, 'Amith', 'Male', 'Trainer')

DDL--   CREATE, DROP, ALTER

DML--  INSERT,UPDATE, DELETE 

DQL--   SELECT,

In [34]:
---MODIFY DESG OF EMPLOYEE 1002 ---
UPDATE emp SET desg = 'Sr Manager'
WHERE EMP_NO = 1002

In [35]:
---DELETE THE 1001 EMPLOYEE--
DELETE  FROM emp 
WHERE emp_no = 1001

In [36]:
--ADDING ANOTHER COLOUNM IN TBALE EMP--
ALTER TABLE EMP ADD SAL NUMERIC(8)

In [39]:
---FOR REMOVE COLONM ---
---ALTER TABLE DROP COLUMN SAL---

--- ADD 1 RECORD ---
INSERT  INTO  emp  VALUES (1001, NULL , 'Male', 'Trainer', NULL)

# TABLE WITH CONSTRAIN

1. PRIMARY KEY
2. NOT NULL
3. CHECK
4. UNIQUE

In [49]:
CREATE table emp2
  (  emp_no      NUMERIC(4)     PRIMARY KEY,
     emp_name    VARCHAR (20)   NOT NULL,
     Gender      VARCHAR(10)    CHECK(Gender IN('M','F')),
     desg        VARCHAR(40),   
     Sal         NUMERIC(10),        
     Email       VARCHAR(100)    UNIQUE,
      )

# FORIGN KEYS

Creating another table and refrence it DEPTID colounm

In [17]:
CREATE TABLE DEPT 
( 
    DEPT_ID  INT  PRIMARY KEY,
    DNAME    VARCHAR (30),
    Loc      VARCHAR(50)

  )

In [18]:
SELECT * FROM DEPT

In [19]:
--ENTERING VALUES--
INSERT INTO DEPT VALUES (10,'HR', 'MUMBAI')
INSERT INTO DEPT VALUES (20,'MARK', 'DEHLI')
INSERT INTO DEPT VALUES (30,'IT', 'BANGALORE')

In [12]:
CREATE table emp3
  (  emp_no      NUMERIC(4)     PRIMARY KEY,
     emp_name    VARCHAR (20)   NOT NULL,
     Gender      VARCHAR(10)    CHECK(Gender IN('M','F')),
     desg        VARCHAR(40),   
     Sal         NUMERIC(10),        
     Email       VARCHAR(100)    ,
    -- DEPT_ID     int             REFERENCES DEPT (DEPT_ID),
      )


INSERT  INTO  emp3  VALUES (1001, 'Sadiq', 'M', 'Trainer', null , null)
INSERT  INTO  emp3  VALUES (1002, 'Riya', 'F', 'Manager' ,null , null)
INSERT  INTO  emp3  VALUES (1003, 'Raj', 'M', 'Accountant', null , null)
INSERT  INTO  emp3  VALUES (1004, 'Amith', 'M', 'Trainer', null , null)

In [16]:
select * from emp3
select * from DEPT

emp_no,emp_name,Gender,desg,Sal,Email
1001,Sadiq,M,Trainer,NULL,NULL
1002,Riya,F,Manager,NULL,NULL
1003,Raj,M,Accountant,NULL,NULL
1004,Amith,M,Trainer,NULL,NULL

: Msg 208, Level 16, State 1, Line 2
Invalid object name 'DEPT'.

In [22]:
ALTER TABLE EMP3 ADD DEPT_ID     int           REFERENCES DEPT (DEPT_ID)

: Msg 2705, Level 16, State 4, Line 1
Column names in each table must be unique. Column name 'DEPT_ID' in table 'EMP3' is specified more than once.

In [21]:
SELECT * FROM EMP3

emp_no,emp_name,Gender,desg,Sal,Email,DEPT_ID
1001,Sadiq,M,Trainer,NULL,NULL,NULL
1002,Riya,F,Manager,NULL,NULL,NULL
1003,Raj,M,Accountant,NULL,NULL,NULL
1004,Amith,M,Trainer,NULL,NULL,NULL