# Project 2: Company Database

## Creating Database 'Db\_1' Having 1 Main Table and 2 Ref Tables

Main table Name: Staff ,

- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">STAFF_ID</span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">STAFF_TYPE<br></span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">SCHOOL_ID<br></span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">FIRST_NAME<br></span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">LAST_NAME<br></span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">AGE<br></span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">DOB<br></span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">GENDER<br></span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">JOIN_DATE<br></span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">ADDRESS_ID</span>

Ref table Name: School, ( Connected by school\_id )

- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">SCHOOL_ID</span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">SCHOOL_NAME<br></span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">ED_BOARD<br></span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">ADREES_SCH</span>

Ref table Name: Address, ( Connected by Address\_id )

- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">ADDRESS_ID</span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">STREET<br></span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">CITY<br></span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">STATE<br></span>
- <span style="color: rgb(255, 255, 255); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">COUNTRY</span>

In [37]:
--CREATE DATABASE dB--

CREATE Database Db_1

In [38]:
--CREATE TABLE REF TABLE SCHOOL--

USE Db_1

 CREATE TABLE SCHOOL
 (
    SCHOOL_ID     VARCHAR(20) PRIMARY KEY
  , SCHOOL_NAME   VARCHAR(100)
  , ED_BOARD      VARCHAR(100)
  , ADREES_SCH     VARCHAR(100)

 );


--CREATE TABLE REF TABLE ADRESS--


 CREATE TABLE ADDRESS

 (
    ADDRESS_ID     VARCHAR(100) PRIMARY KEY
  , STREET         VARCHAR(100)
  , CITY           VARCHAR(100)
  , STATE          VARCHAR(100)
  , COUNTRY        VARCHAR(100)


 );

 --CREATE TABLE MAI  TABLE STAFF--


CREATE TABLE STAFF
(  
    STAFF_ID         VARCHAR(20)    NOT NULL UNIQUE
,   STAFF_TYPE       VARCHAR(20)
,   SCHOOL_ID        VARCHAR(20)
,   FIRST_NAME       VARCHAR(100)   NOT NULL
,   LAST_NAME        VARCHAR(100)   NOT NULL
,   AGE              INT 
,   DOB              DATE 
,   GENDER           VARCHAR(10)    CHECK (GENDER IN ('M','F'))
,   JOIN_DATE        DATE
,   ADDRESS_ID       VARCHAR(100)

,   CONSTRAINT PK_STF         PRIMARY KEY(STAFF_ID)
,   CONSTRAINT FK_STF_SCHOOL  FOREIGN KEY(SCHOOL_ID)   REFERENCES SCHOOL(SCHOOL_ID)
,   CONSTRAINT FK_STF_ADDRESS FOREIGN KEY(ADDRESS_ID)  REFERENCES ADDRESS(ADDRESS_ID)

 );


 SELECT  *  FROM  ADDRESS;
 SELECT  *  FROM  SCHOOL;
 SELECT  *  FROM  STAFF;

In [40]:
--INSERT VALUSE INTO REF TABLES ADDRESS--

INSERT INTO ADDRESS VALUES ('01','STREET_01','KARACHI','SINDH','PAKISTAN');
INSERT INTO ADDRESS VALUES ('02','STREET_02','KARACHI','SINDH','PAKISTAN');
INSERT INTO ADDRESS VALUES ('03','STREET_03','KARACHI','SINDH','PAKISTAN');
INSERT INTO ADDRESS VALUES ('04','STREET_04','KARACHI','SINDH','PAKISTAN');
INSERT INTO ADDRESS VALUES ('05','STREET_05','KARACHI','SINDH','PAKISTAN');

--INSERT VALUSE INTO REF TABLES  SCHOOL--


INSERT INTO SCHOOL VALUES ('01','MD GRAMMER SCHOOL','KARACHI_BOARD','STREET-01 BLOCK-129 NEW KARACHI ');
INSERT INTO SCHOOL VALUES ('02','MD GRAMMER SCHOOL','FADREAL_BOARD','STREET-01 BLOCK-129 NEW KARACHI ');
INSERT INTO SCHOOL VALUES ('03','MD GRAMMER SCHOOL','SINDH_BOARD','STREET-01 BLOCK-129 NEW KARACHI ');
INSERT INTO SCHOOL VALUES ('04','MD GRAMMER SCHOOL','ALEVEL_BOARD','STREET-01 BLOCK-129 NEW KARACHI ');
INSERT INTO SCHOOL VALUES ('05','MD GRAMMER SCHOOL','OLEVE_BOARD','STREET-01 BLOCK-129 NEW KARACHI ');

In [47]:
--INSERT VALUSE INTO STAAF TABLES--

INSERT INTO STAFF VALUES ('01' ,'SR.MANAGER'  ,'01'   ,'ARSALAN'  ,'ALI' ,'24' ,'1998-01-18'   ,'M'  ,'1998-01-18'  ,'01');
INSERT INTO STAFF VALUES ('02' ,'JR.MANAGER'  ,'02'   ,'SHAN'     ,'ALI' ,'24' ,'1998-01-18'   ,'M'  ,'1998-01-18'  ,'02');
INSERT INTO STAFF VALUES ('03' ,'MK.MANAGER'  ,'03'   ,'REHAN'    ,'ALI' ,'24' ,'1998-01-18'   ,'M'  ,'1998-01-18'  ,'03');
INSERT INTO STAFF VALUES ('04' ,'ENGINEER'    ,'04'   ,'SHAYAN'   ,'ALI' ,'24' ,'1998-01-18'   ,'M'  ,'1998-01-18'  ,'04');
INSERT INTO STAFF VALUES ('05' ,'ENGINEER'    ,'05'   ,'ARSALAN'  ,'ALI' ,'24' ,'1998-01-18'   ,'M'  ,'1998-01-18'  ,'05');

: Msg 2627, Level 14, State 1, Line 3
Violation of PRIMARY KEY constraint 'PK_STF'. Cannot insert duplicate key in object 'dbo.STAFF'. The duplicate key value is (01).

In [48]:
 SELECT  *  FROM ADDRESS;
 SELECT  *  FROM SCHOOL;
 SELECT  *  FROM STAFF;

ADDRESS_ID,STREET,CITY,STATE,COUNTRY
01,STREET_01,KARACHI,SINDH,PAKISTAN
02,STREET_02,KARACHI,SINDH,PAKISTAN
03,STREET_03,KARACHI,SINDH,PAKISTAN
04,STREET_04,KARACHI,SINDH,PAKISTAN
05,STREET_05,KARACHI,SINDH,PAKISTAN

SCHOOL_ID,SCHOOL_NAME,ED_BOARD,ADREES_SCH
01,MD GRAMMER SCHOOL,KARACHI_BOARD,STREET-01 BLOCK-129 NEW KARACHI
02,MD GRAMMER SCHOOL,FADREAL_BOARD,STREET-01 BLOCK-129 NEW KARACHI
03,MD GRAMMER SCHOOL,SINDH_BOARD,STREET-01 BLOCK-129 NEW KARACHI
04,MD GRAMMER SCHOOL,ALEVEL_BOARD,STREET-01 BLOCK-129 NEW KARACHI
05,MD GRAMMER SCHOOL,OLEVE_BOARD,STREET-01 BLOCK-129 NEW KARACHI

STAFF_ID,STAFF_TYPE,SCHOOL_ID,FIRST_NAME,LAST_NAME,AGE,DOB,GENDER,JOIN_DATE,ADDRESS_ID
01,SR.MANAGER,01,ARSALAN,ALI,24,1998-01-18,M,1998-01-18,01
02,JR.MANAGER,02,SHAN,ALI,24,1998-01-18,M,1998-01-18,02
03,MK.MANAGER,03,REHAN,ALI,24,1998-01-18,M,1998-01-18,03
04,ENGINEER,04,SHAYAN,ALI,24,1998-01-18,M,1998-01-18,04
05,ENGINEER,05,ARSALAN,ALI,24,1998-01-18,M,1998-01-18,05